name: Test Secrets

on:
  workflow_call:
    secrets:
      username:
        required: true
      password:
        required: true
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Test
        env: 
          USERNAME: ${{ secrets.username }}
          PASSWORD: ${{ secrets.password }}
        run: |
          echo "Username is $USERNAME and Password is $PASSWORD"
          echo "Username is ${{ secrets.username }} and Password is ${{ secrets.password }}"
